<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        
        <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
        />
        <h4>Lod Coolkat</h4>
        <p>{{email}}</p>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admins"><mat-icon>group</mat-icon> Admins</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>analytics</mat-icon> Post</a>
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">
        <mat-icon>import_contacts</mat-icon> Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">
        <mat-icon>contact_phone</mat-icon> Phone
    </a>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>exit_to_app</mat-icon> Sign out
    </a>
</mat-nav-list>
