<mat-toolbar>
    <!--<span>{{service.form.controls['$key'].value?"Modify Employee":"New Employee"}}</span>-->
    <span>Edit admin user</span>
    <span class="example-fill-remaining-space"></span>
    <button class="btn-dialog-close float-right" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="form" class="mormal-form" (ngSubmit)="onSubmit()">
    <mat-error *ngIf="editAdminInvalid">
        Invalid User Details
    </mat-error>
    <mat-grid-list cols="2" rowHeight="250px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Enter Name"
                        formControlName="name" required
                    />
                    <mat-error>
                        Please provide a valid Name
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Enter Surname"
                        formControlName="surname" required
                    />
                    <mat-error>
                        Please provide a valid Surname
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Contact Number"
                        formControlName="contactNumber" required
                    />
                    <mat-error>
                        Please provide a valid Contact Number
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Enter Email"
                        formControlName="email" required
                    />
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Enter Password"
                        formControlName="password" required
                    />
                    <mat-error>
                        Please provide a valid Password
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Enter Re-Password"
                        formControlName="re_password" required
                    />
                    <mat-error>
                        Please provide a valid Re-Password
                    </mat-error>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button class="bg-success" type="submit" [disabled]="invalid">Submit</button>
                    <button mat-raised-button class="bg-warning" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>