<div fxLayout="row"
fxLayoutAlign="space-between center"
fxLayoutGap="20px"
class="stats-card">
<mat-card fxFlex="23">
  <app-widget-card
    label="Total users "
    total="18K"
    percentage="50"
    
  ></app-widget-card>
</mat-card>
 <mat-card fxFlex="23">
    <app-widget-card
      label="Registed users today"
      total="18K"
      percentage="50"
      
    ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="23">
    <app-widget-card
      label="Logged in users Ttoday"
      total="18K"
      percentage="50"
      
    ></app-widget-card>
  </mat-card>

  <mat-card fxFlex="23">
    <app-widget-card
      label="Progression rates"
      total="18K"
      percentage="50"
      
    ></app-widget-card>
  </mat-card>
</div>
<br/>
<mat-divider></mat-divider>
<br/>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">
    <div class="mat-elevation-z8">

    </div>
  </div>
  <div fxFlex="40">
    <!-- <app-widget-pie [data]="pieChart"></app-widget-pie> -->
  </div>
</div>