<div class="search-div">
    <button mat-raised-button class="bg-success" (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()"/>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Index Column -->
                <ng-container matColumnDef="index">
                    <td mat-header-cell *matHeaderCellDef>#</td>
                    <td mat-cell *matCellDef="let element, let i = index">
                        {{i+1 + (paginator.pageIndex * paginator.pageSize)}}
                    </td>
                </ng-container>

                <!-- fName Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- lName Column -->
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <!-- userType Column -->
                <ng-container matColumnDef="userType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.userType }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <mat-button-toggle-group [value]="selectedState" (change)="onToggleStatusChange($event, i, element)">
                        <mat-button-toggle class="bg-secondary" value="toggleEnum.EDIT"><mat-icon class="text-light">edit</mat-icon></mat-button-toggle>
                        <mat-button-toggle class="bg-danger" value="toggleEnum.DELETE"><mat-icon class="text-muted">delete</mat-icon></mat-button-toggle>
                      </mat-button-toggle-group>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <!--<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>-->
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>