mat-card {
  max-width: 450px;
  margin: 3em auto;
  text-align: center;
  justify-content: center;
}
  
mat-form-field {
  display: block;
}
  
mat-card-content form a {
  text-decoration: none;
}
  
button {
  margin: 0.1em;
}

mat-card-content form img {
  width: 13em;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 0 0.1px 0.1px rgba(0, 0, 0, 0.24);
}